<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Test">
    <classes>
      <class name="demoproject.facebook"/>
      <class name="demoproject.scrolldown"/>
      <class name="demoproject.gmail"/>
      <class name="demoproject.gettitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
