<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="4" name="Test" >
    <classes>
      <class name="delete_tours"/>
      <class name="edit_tour"/>
      <class name="add_tour"/>
      <class name="search_tour"/>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
